#contact {
  background-image: linear-gradient(135deg, $primary-color 0%, $secondary-color 100%);
  -webkit-clip-path: polygon(0 15vh, 100% 0, 100% 100%, 0 100%);
  clip-path: polygon(0 15vh, 100% 0, 100% 100%, 0 100%);
  padding: 15rem 0 10rem 0;
  margin-top: -10rem;
  margin-bottom: -1px;
  color: $white-color;

  @include respond(tab-land) {
    padding: 10rem 0;
    clip-path: none;
    margin-top: 0;
    -webkit-clip-path: none;
  }

  .contact-wrapper {
    margin-top: 3.2rem;
    padding: 0 2rem;
    backface-visibility: hidden;
    display: flex;
    flex-direction: column;

    .contact-label {
      margin: 0 auto;
      // flex-grow: 2;
      // transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
      // outline: 0;
      // box-shadow: none;
      // border: none;
      // border-bottom: 1px solid #ced4da;
      // border-radius: 0;
      // box-sizing: content-box;
      // background-color: transparent;
      // overflow-y: hidden;
      // // padding: 1.5rem 0;
      // -webkit-transition: .2s ease-in;
      //       -o-transition: .2s ease-in;
      //       transition: .2s ease-in;
      //       cursor: text;
      //       color: #757575;
      //       display: inline-block;
      //       font-size: 1rem;
            margin-bottom: 0.5rem;
    }

    .text-label {
      margin: initial;
    }

    .contact-textarea {
      // flex-grow: 2;
      transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
      outline: 0;
      // box-shadow: none;
      // border: none;
      // border-bottom: 1px solid #ced4da;
      // border-radius: 0;
      // box-sizing: content-box;
      // background-color: transparent;
      // overflow-y: hidden;
      // padding: 1.5rem 0;
      resize: both;
      min-width: 30%;
    }

    &__text {
      margin-bottom: 2.5rem;
    }

    &__text,
    a {
      font-size: 2.4rem;

      // Responsive for contact text
      @include respond(phone) {
        font-size: 2rem;
      }
    }
  }
}

