html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  background-color: #c4ceff;
  background-image: linear-gradient(43deg, #c4ceff 0%, #81377b 20%, #333333 27%);
  

  
}
